:root {
  --bg: #ffb1be;
  --primary-clour: #ff526f;
  --font-primary: ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.flex__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_link {
  text-decoration: none;
  background: var(--primary-clour);
}
